In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv(r'cars_2010_2020.csv')

In [3]:
#df1.head(5)

In [4]:
df1['Price (INR)'] = (df1['Price (USD)'] * 88.77).round(0)
df1.head(5)

,Make,Model,Year,Engine Size (L),Fuel Type,Price (USD),Price (INR)
0,Volkswagen,Jetta,2010,4.2,Petrol,54073.09,4800068.0
1,Honda,Pilot,2017,4.2,Hybrid,44924.91,3987984.0
2,Nissan,Murano,2011,4.2,Hybrid,76963.44,6832045.0
3,Toyota,RAV4,2010,2.4,Petrol,30871.25,2740441.0
4,Nissan,Altima,2010,3.6,Petrol,72037.65,6394782.0

In [5]:
piv_table = df1.pivot_table(
    values= 'Engine Size (L)',
    index= 'Make',
    columns= 'Price (INR)',
    aggfunc= 'mean'
)
piv_table = piv_table.fillna('O')
print(piv_table)

Price (INR)   1332460.0 1333710.0 1334362.0 1334684.0 1335415.0 1335683.0  \
Make
Audi                  O         O         O         O         O         O
BMW                   O         O         O         O         O         O
Chevrolet             O         O         O         O         O         O
Ford                3.0         O         O         O       4.7         O
Honda                 O         O         O         O         O         O
Hyundai               O         O       4.4         O         O       4.9
Mercedes-Benz         O         O         O         O         O         O
Nissan                O         O         O       1.3         O         O
Toyota                O       2.1         O         O         O         O
Volkswagen            O         O         O         O         O         O

Price (INR)   1336935.0 1337365.0 1337531.0 1338254.0  ... 7095992.0  \
Make                                                   ...
Audi                  O         O         O       1.9  ...         O
BMW                   O         O         O         O  ...         O
Chevrolet             O         O         O         O  ...         O
Ford                  O         O         O         O  ...         O
Honda               2.1       1.3         O         O  ...         O
Hyundai               O         O         O         O  ...       1.7
Mercedes-Benz         O         O       2.6         O  ...         O
Nissan                O         O         O         O  ...         O
Toyota                O         O         O         O  ...         O
Volkswagen            O         O         O         O  ...         O

Price (INR)   7097023.0 7097043.0 7097780.0 7098917.0 7099253.0 7099649.0  \
Make
Audi                  O         O         O       2.3       4.1         O
BMW                 4.1         O         O         O         O         O
Chevrolet             O         O         O         O         O         O
Ford                  O         O         O         O         O         O
Honda                 O         O         O         O         O         O
Hyundai               O         O         O         O         O         O
Mercedes-Benz         O       2.8         O         O         O         O
Nissan                O         O         O         O         O         O
Toyota                O         O       3.9         O         O         O
Volkswagen            O         O         O         O         O       4.3

Price (INR)   7100905.0 7101116.0 7101500.0
Make
Audi                  O         O         O
BMW                   O         O         O
Chevrolet           2.4         O         O
Ford                  O         O         O
Honda                 O         O         O
Hyundai               O         O       4.7
Mercedes-Benz         O         O         O
Nissan                O         O         O
Toyota                O       1.4         O
Volkswagen            O         O         O

[10 rows x 9985 columns]

Basic Analytical Questions

In [6]:
# Count of all cars in the data
total_cars = df1['Model'].nunique()
total_cars

50

In [7]:
# Count of all Manufacturers in the dataset
all_makers = df1['Make'].nunique()
all_makers

10

In [8]:
# Count of top 5 cars in the data
counts = df1['Model'].value_counts().head(5)
counts

Model
Sentra    226
Spark     226
Golf      224
Malibu    222
Tiguan    220
Name: count, dtype: int64

In [9]:
# Average Price of Fuel
avg_price_of_fuel = df1.groupby('Fuel Type')['Price (INR)'].mean().round(2)
avg_price_of_fuel

Fuel Type
Diesel      4219877.80
Electric    4238515.89
Hybrid      4189625.79
Petrol      4181704.77
Name: Price (INR), dtype: float64

In [10]:
# Minimum Engine Size
min_eng_size = df1['Engine Size (L)'].min()
min_eng_size

np.float64(1.0)

In [11]:
# Maximum Engine Size
max_eng_size = df1['Engine Size (L)'].max()
max_eng_size

np.float64(5.0)

Advance Analytical Questions

In [12]:
# Average Price Per Car Maker
avg_price = df1.groupby('Make')['Price (INR)'].mean().round(2)
avg_price

Make
Audi             4170464.78
BMW              4203390.03
Chevrolet        4237564.27
Ford             4174074.28
Honda            4209900.79
Hyundai          4161676.40
Mercedes-Benz    4259572.07
Nissan           4255919.67
Toyota           4131876.09
Volkswagen       4265220.45
Name: Price (INR), dtype: float64

In [13]:
# Find the total number of cars produced each year
count_of_cars = df1.groupby('Year').size().to_frame('Count of Cars')
count_of_cars

      Count of Cars
Year
2010            962
2011            927
2012            861
2013            911
2014            890
2015            963
2016            877
2017            895
2018            907
2019            911
2020            896

In [14]:
# Show the count of cars grouped by fuel type and Maker
car_by_fuel_and_maker = df1.groupby(['Fuel Type', 'Make']).size().to_frame('Count of Cars')
car_by_fuel_and_maker

                         Count of Cars
Fuel Type Make
Diesel    Audi                     260
          BMW                      255
          Chevrolet                262
          Ford                     264
          Honda                    249
          Hyundai                  250
          Mercedes-Benz            245
          Nissan                   256
          Toyota                   242
          Volkswagen               245
Electric  Audi                     254
          BMW                      226
          Chevrolet                241
          Ford                     254
          Honda                    243
          Hyundai                  236
          Mercedes-Benz            250
          Nissan                   257
          Toyota                   250
          Volkswagen               274
Hybrid    Audi                     250
          BMW                      244
          Chevrolet                278
          Ford                     229
          Honda                    261
          Hyundai                  259
          Mercedes-Benz            231
          Nissan                   266
          Toyota                   245
          Volkswagen               276
Petrol    Audi                     255
          BMW                      261
          Chevrolet                244
          Ford                     228
          Honda                    236
          Hyundai                  266
          Mercedes-Benz            247
          Nissan                   253
          Toyota                   224
          Volkswagen               234

In [15]:
# Which 5 cars have the highest price in INR?
cars_w_highest_price = df1.sort_values(by='Price (INR)', ascending=False)
cars_w_highest_price

,Make,Model,Year,Engine Size (L),Fuel Type,Price (USD),Price (INR)
6446,Hyundai,Sonata,2011,4.7,Diesel,79998.87,7101500.0
6513,Toyota,RAV4,2013,1.4,Diesel,79994.55,7101116.0
1686,Chevrolet,Malibu,2011,2.4,Hybrid,79992.17,7100905.0
6348,Volkswagen,Atlas,2010,4.3,Electric,79978.02,7099649.0
2540,Audi,A3,2010,4.1,Diesel,79973.56,7099253.0
...,...,...,...,...,...,...,...
2698,Ford,Explorer,2010,4.7,Hybrid,15043.54,1335415.0
8062,Nissan,Sentra,2020,1.3,Petrol,15035.30,1334684.0
2379,Hyundai,Kona,2014,4.4,Petrol,15031.68,1334362.0
3931,Toyota,Prius,2017,2.1,Diesel,15024.33,1333710.0
2921,Ford,Fiesta,2012,3.0,Electric,15010.25,1332460.0

In [16]:
# Find cars where engine size is greater than 3.0 liters
large_eng = df1[df1['Engine Size (L)'] > 3].head(5)
large_eng

,Make,Model,Year,Engine Size (L),Fuel Type,Price (USD),Price (INR)
0,Volkswagen,Jetta,2010,4.2,Petrol,54073.09,4800068.0
1,Honda,Pilot,2017,4.2,Hybrid,44924.91,3987984.0
2,Nissan,Murano,2011,4.2,Hybrid,76963.44,6832045.0
4,Nissan,Altima,2010,3.6,Petrol,72037.65,6394782.0
7,BMW,7 Series,2018,4.0,Diesel,21455.06,1904566.0

Pivot/ Aggregation

In [17]:
# Create a pivot summary of mean price (USD) by Make and Fuel Type.
pt = df1.pivot_table(
    index= 'Make',
    columns= 'Fuel Type',
    values= 'Price (USD)',
    aggfunc='mean'
).round(2)
pt

Fuel Type        Diesel  Electric    Hybrid    Petrol
Make
Audi           47106.23  49238.28  45686.56  45872.22
BMW            48371.82  48110.58  45867.94  47084.17
Chevrolet      48244.31  46612.26  48566.06  47356.26
Ford           47854.93  45246.24  47845.36  47205.53
Honda          50082.39  46345.40  46744.37  46484.81
Hyundai        47470.03  47607.37  45811.41  46726.53
Mercedes-Benz  46698.24  48749.00  47335.77  49092.74
Nissan         47985.08  49681.59  47518.68  46581.37
Toyota         43969.86  47063.87  48091.54  47060.14
Volkswagen     47403.82  48640.27  48325.85  47701.20

In [18]:
# Create a pivot table showing count of cars per Manufacturer and per Year.
pt2 = df1.pivot_table(
    index= 'Make',
    columns= 'Year',
    values= 'Price (INR)',
    aggfunc='count'
)
pt2

Year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Make,,,,,,,,,,,
Audi,105,105,81,103,92,87,99,94,84,87,82
BMW,80,98,75,81,103,103,80,101,90,100,75
Chevrolet,98,93,103,91,77,96,98,88,91,97,93
Ford,101,91,82,90,77,110,70,94,87,89,84
Honda,93,75,84,73,99,99,88,100,81,95,102
Hyundai,101,85,87,89,92,93,81,85,88,100,110
Mercedes-Benz,107,83,75,95,84,100,91,86,93,74,85
Nissan,95,104,95,94,88,90,97,81,114,90,84
Toyota,85,91,86,99,84,85,83,83,85,96,84
Volkswagen,97,102,93,96,94,100,90,83,94,83,97

Conditional / Filtering

In [19]:
# Label cars as ‘Premium’ if Price (USD) > 50,000, else ‘Standard’.
df1['Segment'] = np.where(df1['Price (USD)'] > 50000, 'Premium', 'Standard')
df1.head(5)

,Make,Model,Year,Engine Size (L),Fuel Type,Price (USD),Price (INR),Segment
0,Volkswagen,Jetta,2010,4.2,Petrol,54073.09,4800068.0,Premium
1,Honda,Pilot,2017,4.2,Hybrid,44924.91,3987984.0,Standard
2,Nissan,Murano,2011,4.2,Hybrid,76963.44,6832045.0,Premium
3,Toyota,RAV4,2010,2.4,Petrol,30871.25,2740441.0,Standard
4,Nissan,Altima,2010,3.6,Petrol,72037.65,6394782.0,Premium

In [20]:
# Filter all Electric cars costing more than ₹30,00,000 INR.
elc_cars = df1[(df1['Fuel Type'] == 'Electric') & (df1['Price (INR)'] > 3000000)]
elc_cars.head(10)

,Make,Model,Year,Engine Size (L),Fuel Type,Price (USD),Price (INR),Segment
8,Hyundai,Kona,2017,2.0,Electric,44998.91,3994553.0,Standard
10,BMW,3 Series,2013,2.9,Electric,58034.53,5151725.0,Premium
20,Chevrolet,Malibu,2017,2.9,Electric,67939.40,6030981.0,Premium
21,Toyota,Prius,2015,4.5,Electric,48719.01,4324787.0,Standard
28,Hyundai,Elantra,2016,4.0,Electric,48303.71,4287920.0,Standard
41,Audi,A4,2013,2.3,Electric,61258.20,5437890.0,Premium
46,Toyota,Highlander,2017,3.0,Electric,54631.63,4849650.0,Premium
54,Audi,Q7,2015,2.9,Electric,56160.82,4985396.0,Premium
61,Nissan,Murano,2016,1.6,Electric,75854.01,6733560.0,Premium
64,Mercedes-Benz,GLA,2016,4.8,Electric,46262.72,4106742.0,Standard

Ranking

In [21]:
# Rank cars within each Maker based on Price (USD).
df1['car_maker_rank'] = df1.groupby('Make')['Price (USD)'].rank(method= 'dense', ascending= False)
df1.head(10)

,Make,Model,Year,Engine Size (L),Fuel Type,Price (USD),Price (INR),Segment,car_maker_rank
0,Volkswagen,Jetta,2010,4.2,Petrol,54073.09,4800068.0,Premium,426.0
1,Honda,Pilot,2017,4.2,Hybrid,44924.91,3987984.0,Standard,533.0
2,Nissan,Murano,2011,4.2,Hybrid,76963.44,6832045.0,Premium,49.0
3,Toyota,RAV4,2010,2.4,Petrol,30871.25,2740441.0,Standard,705.0
4,Nissan,Altima,2010,3.6,Petrol,72037.65,6394782.0,Premium,119.0
5,Ford,Focus,2011,2.6,Petrol,64616.84,5736037.0,Premium,206.0
6,Ford,Explorer,2016,2.0,Petrol,39159.35,3476175.0,Standard,599.0
7,BMW,7 Series,2018,4.0,Diesel,21455.06,1904566.0,Standard,900.0
8,Hyundai,Kona,2017,2.0,Electric,44998.91,3994553.0,Standard,531.0
9,Chevrolet,Impala,2016,1.6,Petrol,59598.11,5290524.0,Premium,327.0